#flash
#pre_header_wrapper
  background-color: $pre_header_color 
#pre_header
  +outer-container
  color: $pre_header_text_color
  text-align: right
  a
    color: $pre_header_text_color
    font-weight: $bold_weight
    text-decoration: none
#header
  +outer-container
  img
    +span-columns(1)
  h1
    +span-columns(5)
    margin-top: 1.5%
    margin-bottom: 0
    font-size: 10vw
    +media($large_desktop)
      font-size: 7.5em
    span
      color: $subheadline_color
      font-family: $standard_font
      font-weight: $bold_weight
      font-size: 0.5em
#content
  +outer-container
  >section
    +span-columns(6)
body>footer
  +outer-container
