@import compass/reset
@import compass/css3
@import compass/utilities
@import 960/grid
@import miv/colors

body
  background: $light_ice
  border-top: 15px solid $black
  #header
    height: 100px
    +grid-container
    width: 962px
    +clearfix
    overflow: visible
    #logo
      +grid(7)
      .image
        float: left
        width: 100px
        height: 100px
        overflow: hidden
      .text
        font-weight: 500
        float: right
        width: 430px
        padding-top: 36px
    #social
      background-color: $light_gray
      border: 1px solid $light_gray
      +grid(5)
      +omega
      margin-top: 10px
      padding: 10px
      width: 370px
      height: 68px
      +border-top-left-radius(12px)
      +border-top-right-radius(12px)