$ice: #ededed
$light_ice: #f2f2f2

$gray: #a9a9a9
$light_gray: #ddd
$dark_gray: #888

$black: black
$white: white

$pink: #fb527a
$dark_pink: #db325a

$yellow: #fafb58
$dark_yellow: #dadb38

$red: #dc2539
$dark_red: #bc0519
