@import compass/css3
@import compass/utilities
@import 960/grid
@import miv/colors

body
  font-family: 'Open Sans', sans-serif
  font-size: 18px  
  .container
    +grid-container
    +clearfix
    padding: 20px 0
    border: 1px solid $light_gray
    background: $ice
    +border-top-left-radius(12px)
    +border-bottom-right-radius(12px)
    margin-bottom: 24px
    .content
      +grid(12)
  .flash
    text-align: center
    &.failure
      .container
        border: 1px solid $dark_red
        background: $red
        color: $white
    &.success
      .container
        border: 1px solid $dark_yellow
        background: $yellow
  a
    +transition(all, 0.3s)
    text-decoration: none
    color: $dark_pink
    font-weight: 700
    &:hover
      color: $pink
  h1
    color: $gray
    font-family: 'Homenaje', sans-serif
    font-size: 60px
  h2,h3,h4,h5
    color: $dark_gray
    font-family: 'Open Sans', sans-serif
    font-weight: 700
  h2
    font-size: 32px
  h3
    font-size: 24px
  h4
    font-size: 20px
  h5
    font-size: 18px
  p
    margin: 16px 0
  form
    abbr
      display: none
    label
      font-weight: 700
      display: block
    input[type=text],select
      font-size: 18px
      border: 1px solid $dark_gray
      +border-radius(5px)
      padding: 0
    input[type=text]
      height: 26px
  .event_box
    background: $light_gray
    margin-top: 16px
    +grid(4)
    height: 185px
    overflow: hidden
    &.first
      +alpha
    &.third
      +omega
    .picture
      float: left
      margin-right: 8px
      height: 185px
      width: 114px
      overflow: hidden
      background-color: $dark_yellow
      img
        max-width: 114px
        +opacity(0.5)
    .info
      padding: 8px
      .name
        height: 45px
        overflow: hidden
        h3
          font-size: 14px
      .time
        height: 32px
        margin-top: 8px
        +clearfix
        .start
          font-size: 14px
          margin-bottom: 4px
          font-weight: 700
        .end
          font-size: 10px
        img
          float: left
          margin-right: 4px
          vertical-align: middle
          height: 30px
      .location
        height: 22px
        font-size: 10px
        margin-top: 12px
        +clearfix
        img
          float: left
          margin-right: 4px
          vertical-align: middle
          height: 20px
      .type
        img
          float: right
          +opacity(0.2)
          margin-right: -20px
    &:hover
      background: $pink
      .picture img
        +opacity(0.9)
      a
        color: $light_ice
        &:hover
          color: $white
  .button
    display: block
    background: $dark_pink
    color: $white
    text-decoration: none
    text-align: center
    border: 1px solid $dark_pink
    font-size: 20px
    font-weight: 700
    line-height: 24px
    padding: 8px
    cursor: pointer
    +box-shadow(inset 0 1px 2px rgba(255, 255, 255, 0.6), 0 2px 1px rgba(0, 0, 0, 0.6))
    +background-image(linear-gradient(top, lighten($dark_pink, 20%), $dark_pink))
    +border-radius(5px)
    +transition(none)
    &:hover
      color: $white
      background: lighten($dark_pink, 20%)
      +background-image(linear-gradient(bottom, lighten($dark_pink, 20%), $dark_pink))
    &:active
      padding: 9px 7px 7px 9px
      +box-shadow(none)
    &:visited
      color: $white
