body[data-action="show"][data-controller="events"][data-namespace="null"]
  #content>article
    margin-top: -1.1em
    +media($desktop)
      margin-top: -1.45em
    header
      +span-columns(6)
      margin-bottom: flex-gutter(6) * 0.618
      +media($tablet)
        margin-bottom: flex-gutter(8) * 0.618
      +media($desktop)
        margin-bottom: flex-gutter(12) * 0.618
      .picture
        max-height: 38.2vw
        overflow: hidden
        +media($large_desktop)
          max-height: em(458.4)
        img
          width: 100%
      .type
        font-size: 1.382em
        display: inline-block
        vertical-align: top
        width: 34%
        +media($tablet)
          font-size: 1.618em
          width: 20%
        +media($desktop)
          font-size: 1.618em
          width: 16%
        img
          height: 8vw
          margin-right: flex-gutter(6)
          float: left
          +media($desktop)
            height: 6vw
          +media($large_desktop)
            height: 2.4em
      .time
        display: inline-block
        width: 60%
        +media($tablet)
          font-size: 1.382em
        +media($desktop)
          font-size: 1.382em
        img
          height: 8vw
          margin-right: flex-gutter(6)
          float: left
          +media($desktop)
            height: 6vw
            margin-right: flex-gutter(16)
          +media($large_desktop)
            height: 2.4em
        .end
          display: block
          color: $small_color
    #map
      +span-columns(6)
      height: 61.8vw
      +media($desktop)
        height: 30.9vw
      +media($large_desktop)
        height: em(370.8)
    .where
      +span-columns(6)
      background-color: $picture_color
      text-align: center
      line-height: 2em
      margin-bottom: flex-gutter(6) * 0.618
      +media($tablet)
        margin-bottom: flex-gutter(8) * 0.618
      +media($desktop)
        margin-bottom: flex-gutter(12) * 0.618
      img
        height: 1.2em
        margin-top: -1 * flex-gutter(24)
        margin-right: flex-gutter(24)
        vertical-align: middle
        +media($desktop)
          margin-top: -1 * flex-gutter(40)
        +media($large_desktop)
          margin-top: -1 * flex-gutter(60)
    p
      +media($desktop)
        font-size: 1.382em
        line-height: 1.2em
    .button
      +span-columns(6)
      margin-bottom: flex-gutter(6) * 0.618
      +media($tablet)
        margin-bottom: flex-gutter(8) * 0.618
        +span-columns(6)
        +shift(1)
      +media($desktop)
        margin-bottom: flex-gutter(12) * 0.618
        +span-columns(6)
        +shift(3)
