body[data-action="show"][data-controller="events"][data-namespace="null"]
  #content
    .picture
      background: $dark_gray
      text-align: center
      margin-top: -20px
      margin-left: -10px
      margin-bottom: 20px
      margin-right: 20px
      width: 960px
      height: 360px
      overflow: hidden
      img
        width: 960px
    h2
      +grid(10)
      +alpha
      margin-bottom: 20px
    .type
      +grid(2)
      +omega
      text-align: right
      img
        width: 32px
        vertical-align: middle
        margin-right: 8px
        margin-top: -8px
      font-size: 24px
    .description
      +grid(6)
      +alpha
      line-height: 24px
      width: 449px
      padding-right: 10px
      border-right: 1px solid $gray
      min-height: 372px
    .info
      +grid(6)
      +omega
      #map
        +grid(6)
        +alpha
        +omega
        height: 210px
        margin-bottom: 20px
      .where
        margin-bottom: 32px
        img
          height: 40px
          float: left
          margin-left: 6px
          margin-right: 12px
      .time
        margin-bottom: 20px
        +clearfix
        img
          width: 32px
          float: left
          margin-right: 8px
