.button
  +button($button_color)
  color: $button_text_color
  &:hover
    color: $button_text_color
.events
  +media($tablet)
    margin-bottom: -1 * flex-gutter(8)
  +media($desktop)
    margin-bottom: -1 * flex-gutter(12)
.event
  +span-columns(6)
  height: 30.9vw
  overflow: hidden
  background-color: $box_color
  margin-bottom: flex-gutter(6)
  &:last-child
    margin-bottom: 0
  +media($tablet)
    +span-columns(4)
    +omega(2n)
    margin-bottom: flex-gutter(8)
    &:last-child
      margin-bottom: flex-gutter(8)
  +media($desktop)
    +span-columns(3)
    +omega(4n)
    height: 15.45vw
    margin-bottom: flex-gutter(12)
    &:last-child
      margin-bottom: flex-gutter(12)
  +media($large_desktop)
    height: golden-ratio($max_width, -4)
  .picture
    height: 100%
    width: 38.2%
    float: left
    background-color: $picture_color
    img
      opacity: 0.6
  .info
    width: 61.8%
    float: left
