.button
  +button($button_color)
  text-align: center
  color: $button_text_color
  &:hover
    color: $button_text_color
.events
  +media($tablet)
    margin-bottom: -1 * flex-gutter(8)
  +media($desktop)
    margin-bottom: -1 * flex-gutter(12)
.event
  position: relative
  +span-columns(6)
  height: 30.9vw
  overflow: hidden
  background-color: $box_color
  margin-bottom: flex-gutter(6)
  &:last-child
    margin-bottom: 0
  +media($tablet)
    font-size: 1.382em
    +span-columns(4)
    +omega(2n)
    margin-bottom: flex-gutter(8)
    &:last-child
      margin-bottom: flex-gutter(8)
  +media($desktop)
    +span-columns(3)
    +omega(4n)
    height: 15.45vw
    margin-bottom: flex-gutter(12)
    &:last-child
      margin-bottom: flex-gutter(12)
  +media($large_desktop)
    height: golden-ratio($max_width, -4)
  .picture
    height: 100%
    width: 38.2%
    float: left
    background-color: $picture_color
  .info
    width: 61.8%
    float: left
    padding: flex-gutter(12)
  a
    color: $text_color
    &:hover
      color: $text_color
  h3
    width: 100%
    +margin(0 0 flex-gutter(12) 0)
    font-size: 0.9em
    height: 2em
    line-height: 1em
    color: $link_color
    +media($tablet)
      height: 3em
    +media($desktop)
      height: 3em
  time
    display: block
    &.start
      font-weight: $bold_weight
      img
        width: flex-gutter(4)
        margin-right: flex-gutter(12)
        +media($tablet)
          width: flex-gutter(3)
        +media($desktop)
          width: flex-gutter(3)
    &.end
      margin-left: flex-gutter(4) + flex-gutter(12)
      +media($tablet)
        margin-left: flex-gutter(3) + flex-gutter(12) + 1.2%
      +media($desktop)
        margin-left: flex-gutter(3) + flex-gutter(12) + 1.2%
  .location
    margin-top: flex-gutter(24)
    img
      width: flex-gutter(4)
      margin-right: flex-gutter(12)
      vertical-align: top
      +media($tablet)
        width: flex-gutter(3)
      +media($desktop)
        width: flex-gutter(3)
    span
      height: 1.382em
      width: 85%
      display: inline-block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
  .type
    img
      +position(absolute, null -3% -9% null)
      opacity: 0.1
