body
  background-color: $background_color
  color: $text_color
  font-family: $standard_font
  -webkit-font-smoothing: antialiased  
  font-smoothing: antialiased
a
  color: $link_color
  &:hover
    color: $hover_color
h1
  color: $title_color
  font-family: $headline_font
h2, h3, h4, h5
  color: $subtitle_color
  font-family: $standard_font
  font-weight: $bold_weight
